.top-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: rgb(134, 33, 45);
}

.header-item > a{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    color: rgb(134, 33, 45);
    font-family: 'Baloo Chettan 2', cursive;
}

.header-item {
    font-family: 'Baloo Chettan 2', cursive;
}

.header-fields {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 15px;
    list-style: none;
    text-align: center;
    justify-content: center;
    
}
